*{
    padding: 0;
    margin: 0;
}

.logo{
    background-color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    transition: 1s;
}

.svg{
    width: 90%;
    height: 100%;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.avatar{
    padding-top: 2vh;
    width: 140px;
    height: 150px;
}

.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#show-contributors{
    background-color: #000;
    border: 1px solid grey;
    position: absolute;
    left: 50%;
    top: 3vh;
    transform: translate(-50%, 0);
    z-index: 1;
    color: #fff;
}

#show-contributors:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.contributors-container{
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    margin-top: 10vh;
    width: 90%;
}

.well{
    margin-top: 1vh;
}

.followers{
    box-sizing: border-box;
    padding-top: 5px;
}

.p-repos{
    box-sizing: border-box;
    padding-top: 5px;
}

.user-contribs{
    display: block;
}

.contribs{
    margin-top: 3px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
    #show-contributors{
        top: 9vh; 
    }

    .contributors-container{
        margin-top: 15vh;
    }

    .avatar{
        padding-top: 2vh;
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-device-width : 567px) and (max-device-width : 767px){
    #show-contributors{
        top: 10vh;
    }
    .contributors-container{
        margin-top: 15vh;
    }
    .avatar{
        padding-top: 2vh;
        width: 100%;
        height: auto;
    }
}
